<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//UTF-8" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- JdbcType 이 null 이면 Null 로 처리  -->

<!--     <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
 -->

	<typeAliases>
		<typeAlias type="mutli.com.pet.mypet.PetDTO" alias="pet" />
		<typeAlias type="mutli.com.pet.erp.MemberDTO" alias="member" />
		<typeAlias type="mutli.com.pet.erp.SitterDTO" alias="sitter" />
		<typeAlias type="mutli.com.pet.erp.SitterImgDTO" alias="sitter_img" />
		<typeAlias type="mutli.com.pet.review.ReviewDTO" alias="review" />
		<typeAlias type="mutli.com.pet.review.Review2DTO" alias="review2" />
		<typeAlias type="mutli.com.pet.review.Review2DTO" alias="review2" />		
		<typeAlias type="multi.com.pet.resv.ResvDTO" alias="resv" />
	</typeAliases>


	<!-- mybatis configuration과 mybatis mapper를 연결 -->
	<mappers>
		<mapper resource="mutli/com/pet/mypet/pet.xml" />
		<mapper resource="mutli/com/pet/erp/member.xml" />
		<mapper resource="mutli/com/pet/review/review.xml" />
		<mapper resource="multi/com/pet/resv/reserve.xml" />
		<mapper resource="mutli/com/pet/admin.xml" />
	</mappers>
</configuration>