<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//UTF-8" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="mutli.com.pet.erp.MemberDTO" alias="member" />
	</typeAliases>

	<mappers>
		<mapper resource="mutli/com/pet/erp/member.xml" />
	</mappers>

</configuration>