<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//UTF-8" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="mutli.com.pet.erp.MemberDTO" alias="member" />	
		<!-- mybatis와 dto를 연결하려고 dto파일에 이름을 만듦 -->
		<typeAlias type="multi.com.review.reviewDTO" alias="review_alias" />
	</typeAliases>


	<!-- mybatis configuration과 mybatis mapper를 연결 -->
	<mappers>
		<mapper resource="mutli/com/pet/erp/member.xml"/>
		<mapper resource="multi/com/review/review_mybatis.xml"/>
	</mappers>

</configuration>